@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Fira+Code:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "AR One Sans"; */
  font-family: "AR One Sans";
  /* font-weight: 400; */
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}
.shadow {
  box-shadow: 0 0 4px rgb(184, 183, 183) !important;
}

tr:hover {
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.transition {
  transition: all 1s ease-in;
}
button {
  border: none !important;
  outline: none !important;
}
input{
  background-color: transparent;

}
select{
  background-color: transparent;
  border: 1px solid gray !important;
}
select:focus,
input:focus {
  outline: none !important;
}
::-webkit-scrollbar {
  width: 5px;               /* For vertical scrollbar */
  height: 8px;              /* For horizontal scrollbar */
}
::-webkit-scrollbar-track {
  background: wheat;
}
::-webkit-scrollbar-thumb {
  background: #ff0eaf;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: navy;
}
.dahboard-card-bg:nth-child(1){
  background-color: #fdcb6e;
}
.dahboard-card-bg:nth-child(2){
  background-color: #fab1a0;
}
.dahboard-card-bg:nth-child(4){
  background-color: #ff1586;
}
.dahboard-card-bg:nth-child(5){
  background-color: #9ff0d9;
}
input[type="number"] {
  -webkit-appearance: textfield; /* For WebKit-based browsers (Chrome, Safari) */
  -moz-appearance: textfield;    /* For Firefox */
  appearance: textfield;         /* Standard property */
}